.cardDiv {
  position: relative;
  z-index: 10;
  /* top: -150px; */
}

.featureCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  margin: auto 0;
}

.cardWrapper {
  background: #0D0D0D;
  /* backdrop-filter: blur(14px); */
  border-radius: 10px;
  border: 2px solid #AEA8A866;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  height: 320px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.cardWrapper:hover {
  animation: bounce 1s ease;
} */

.arrow{
  width: 63px;
  height: 62px;
}

.cardWrapperIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cardWrapperText {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 10px;
}

/* Media Queries */

/* Medium screens (tablets) */

@media (max-width: 1180px) {
  .cardWrapper {
    height: 250px;
    width: 200px;
    margin: 15px;
    padding: 15px;
  }

  .cardWrapperIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }

  .cardWrapperText {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 10px;
  }

  .arrow{
    width: 43px;
    height: 42px;
  }
}


@media (max-width: 1024px) {
  .cardWrapper {
    height: 200px;
    width: 150px;
    margin: 10px;
    padding: 10px;
  }

  .cardWrapperIcon {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }

  .cardWrapperText {
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    line-height: 16px;
    padding-bottom: 10px;
  }

  .arrow{
    width: 43px;
    height: 42px;
  }
}

@media (max-width: 767px) {
  .cardWrapper {
    width: 40%; /* Two cards per row */
  }
}

